## vagrant artifacts
.vagrant
vagrant_ansible_inventory*
provisioning/*/

## OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vim
*~
*.swp
*.swo
